/* .container{
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background: #e75a09;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__logo {
    height: 30px;
}


.search__box{
    width: 200px;
    border-radius: 15px;
    height: 30px;
    background: #dfdfdf;
    overflow: hidden;
}

.search-inp{
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 80%;
    padding-left: 10px;
    font-size: 14px;
    background: transparent;
}

.search-inp::placeholder {
    color: #000;
}

.nav-item {
    color: #fff;
    font-size: 15px;
}

.nav-item:hover {
    text-decoration: underline;
}

.search-btn{
    border-radius: 0 15px 15px 0;
    margin-right: 10px;
    color: #595858;
    cursor: pointer;
}

.user-name{
    font-size: 18px;
    color: #b7bf6d;
    border: 1px dotted #b7bf6d;
    padding: 5px 10px;
}

.logout{
    background: transparent;
    color: aqua;
    font-size: 18px;
    cursor: pointer;
} */

body {
    background: #f89156;
}

.product-box{
    margin-top: 90px;
    width: 100%;
}

.add-box{
    width: 300px;
    height: 350px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.add-box > input::placeholder {
    color: #fff;
    font-weight: bold;
}
.add-box > input {
    width: 100%;
    height: 46px;
    padding: 10px;
    /* border: 1px solid #ced4da; */
    background: #f89156;
}

.add-box > textarea{
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ced4da; */
    background: #f89156;
}

.add-box > button {
    border: 2px solid #fff;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
    clear: both;
    background: transparent;
    font-size: 18px;
    background: #f89156;
}

/* .add-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
} */

.post-box{
    width: calc(100% - 350px);
}

.post{
    width: 500px;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    color: #000;
    font-weight: bold;
}

.post > img {
    width: 80%;
    position: absolute;
    height: 240px;
    left: 10%;
    top: 26px;
}

.post > h1 {
    font-size: 18px;
    position: absolute;
    left: 40px;
    top: 4px;
}

.post > h2{
    position: absolute;
    font-size: 15px;
    right: 40px;
    top: 4px;
    color: green;
}

.post > h3{
    position: absolute;
    font-size: 15px;
    left: 40px;
    top: 272px;
}

.post > h4{
    position: absolute;
    font-size: 15px;
    left: 40px;
    top: 291px;
}

.post > h5{
    position: absolute;
    font-size: 15px;
    left: 40px;
    top: 308px;
}

.post > p {
    position: absolute;
    left: 40px;
    font-size: 13px;
    bottom: 5px;
    width: 80%;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}