
.header__title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #d14b0d;
}
.main__container{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #d14b0d;
    border-radius: 10px 0px 15px 3px;
    margin-bottom: 25px;
}

.navigation-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 13px;
    cursor: pointer;
    color: #fff;
    margin-right: 5px;
}

.navigation-border{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.navigation-item:hover{
    opacity: .6;
}


.form-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #d14b0d;
}

label {
	color:#d10d0d;
	font-weight: bold;
}

.sing-in-inp-box{
    width: 300px;
    border: 1px solid #d14b0d;
}

.sing-in-inp{
    width: 100%;
    height: 46px;
    padding: 10px;
    border: 1px solid #ced4da;
}

.sing-in-inp::placeholder {
    color: #d10d0d;
    opacity: 0.6;
}

.sing-in-button{
    cursor: pointer;
    width: 300px;
    height: 48px;
    padding: 8px 16px;
    border: 1px solid rgb(216, 9, 9);;
    background-color: #d14b0d;;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    font-size: 20px;
}


.sing-in-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 330px;
    width: 100%;
    border-radius: 10%;
}
.reg-wrap{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 430px;
    width: 100%;
    position: relative;
}

.comp-wrap{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 523px;
    width: 100%;
    position: relative;
}

.error{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 150px;
    top: 30px;
}

.loginError{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 150px;
    top: 38px;
}

.success{
    color: green;
    font-size: 12px;
    position: absolute;
    left: 150px;
    top: 30px;
}