.container{
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background: #e75a09;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.header__logo {
    height: 30px;
}

.search__box{
    width: 200px;
    border-radius: 15px;
    height: 30px;
    background: #dfdfdf;
    overflow: hidden;
}

.search-inp{
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 70%;
    padding-left: 10px;
    font-size: 14px;
    background: transparent;
}

.search-inp::placeholder {
    color: #000;
}

.nav-item {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
}

.search-btn{
    border-radius: 0 15px 15px 0;
    margin-right: 10px;
    color: #595858;
    cursor: pointer;
}

.user-name{
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 100px;
}

.logout{
    background: transparent;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}







.posts{
    margin-top: 90px;
    width: 100%;
}

.post{
    width: 400px;
    height: 360px;
    border: 3px solid red;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
}

.post > img {
    width: 80%;
    position: absolute;
    height: 240px;
    left: 10%;
    top: 26px;
}

.post > h1 {
    font-size: 18px;
    position: absolute;
    left: 40px;
    top: 4px;
    font-weight: bold;
}

.post > h2{
    position: absolute;
    font-size: 15px;
    right: 40px;
    top: 4px;
    color: #000;
    font-weight: bold;
}

.post > a{
    position: absolute;
    font-size: 15px;
    left: 40px;
    top: 272px;
}

.post > a:hover {
    text-decoration: underline;
}

.post > h4{
    position: absolute;
    font-size: 15px;
    left: 40px;
    top: 291px;
}

.post > h5{
    position: absolute;
    font-size: 15px;
    left: 40px;
    top: 308px;
}

.post > p {
    position: absolute;
    left: 40px;
    font-size: 13px;
    bottom: 5px;
    width: 80%;
}