html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-image: url('../img/logo.png')
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
*{
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
input, textarea, button{
	outline:none;
	border:none;
	resize: none;
}
html{
	font-family: 'Roboto', sans-serif;
}

.flex{
	display: flex;
}
.flex-center{
	display: flex;
	align-items: center;
}
.flex-center-x2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-space-btw{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-space-around{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.flex-column-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-column-space-btw{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.flex-column-space-around{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.fixed{
	position: fixed;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.sticky{
    position: sticky;
}
.static{
    position: static
}

.bold {
	font-weight: bold;
}