<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title your shop
        link(rel="SHORTCUT ICON", href="./img/logo.png")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/index.css")
    body
        header.header
            h2.header__title Welcome To Your Shop
        .main__container
            nav.navigation
                .navigation-item#singInNav Sign in
                .navigation-item.navigation-border#physicalRegNav Person Registration
                .navigation-item#companyRegNav Company Registration
            form.sing-in-wrap#singInBox(method="POST" action="/" style=locals.display[0])
                if locals.loginErrors.length > 0
                    p.loginError= locals.loginErrors[0]
                .sing-in-inp-box
                    input.sing-in-inp(type="text" name="email" placeholder="Email address" required)
                    input.sing-in-inp(type="password" name="password" placeholder="Password" required)
                    input(type="hidden" name="method" value="logIn")
                label Remember me
                    input(type="checkbox" name="remember" vlue="true") 
                button.sing-in-button Sing in
            form.reg-wrap#physicalPersReg(method="POST" action="/" style=locals.display[1])
                if locals.userErrors.length > 0
                    p.error= locals.userErrors[0]
                if locals.persSuccess.length > 0
                    p.success= locals.persSuccess[0]
                .sing-in-inp-box
                    input.sing-in-inp(type="text" name="name" placeholder="Your name" required)
                    input.sing-in-inp(type="text" name="lastname" placeholder="Your lastname" required)
                    input.sing-in-inp(type="number" name="mobile" placeholder="mobile number" required)
                    input.sing-in-inp(type="text" name="email" placeholder="Email address" required)
                    input.sing-in-inp(type="password" name="password" placeholder="Password" required)
                    input.sing-in-inp(type="password" name="repassword" placeholder="Confirm Password" required)
                    input(type="hidden" name="method" value="preg")
                    input(type="hidden" name="type" value="person")
                button.sing-in-button registration
            form.comp-wrap#compReg(method="POST" action="/" style=locals.display[2])
                if locals.companyErrors.length > 0
                    p.error= locals.companyErrors[0]
                if locals.compSuccess.length > 0
                    p.success= locals.compSuccess[0]
                .sing-in-inp-box
                    input.sing-in-inp(type="text" name="name" placeholder="Your name" required)
                    input.sing-in-inp(type="text" name="lastname" placeholder="Your lastname" required)
                    input.sing-in-inp(type="number" name="mobile" placeholder="mobile number" required)
                    input.sing-in-inp(type="text" name="email" placeholder="Email address" required)
                    input.sing-in-inp(type="text" name="company" placeholder="company name" required)
                    input.sing-in-inp(type="number" name="idcode" placeholder="Identification code" required)
                    input.sing-in-inp(type="password" name="password" placeholder="Password" required)
                    input.sing-in-inp(type="password" name="repassword" placeholder="Confirm Password" required)
                    input(type="hidden" name="method" value="creg")
                    input(type="hidden" name="type" value="company")
                button.sing-in-button registration
        script(src="./js/clicks.js")