<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title your shop
        link(rel="SHORTCUT ICON", href="../../img/logo.png")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/add.css")
        link(rel="stylesheet", href="../../css/logedin.css")
    body
        header.header.fixed
            .container.flex-space-around
                a.bold.flex-space-around(href="/user/" + locals.logedIn) Home  
                    img.header__logo(src="../../img/logo.png", alt="")
                a.nav-item(href="/user/" + locals.logedIn + "/MyProducts") My products
                if locals.user.userType == "company"
                    a.user-name= locals.user.name + " " + locals.user.lastname + " (" + locals.user.companyName + ")"
                else
                    a.user-name= locals.user.name + " " + locals.user.lastname
                button#logOut.logout Log Out
        main.product-box
            .container.flex
                form(method="POST" action="/user/" + locals.logedIn + "/MyProducts" enctype="multipart/form-data").add-box
                    input(type="file" name="picture" required)
                    input(type="text" name="name" placeholder="product name" required)
                    input(type="number" name="price" placeholder="product price" required)
                    input(type="number" name="amount" placeholder="product quantity" required)
                    input(type="hidden" name="author" value=locals.logedIn)
                    if locals.user.userType == "company"
                        input(type="hidden" name="owner" value=locals.user.name + " " + locals.user.lastname + " (" + locals.user.companyName + ")") 
                    else
                        input(type="hidden" name="owner" value=locals.user.name + " " + locals.user.lastname) 
                    input(type="hidden" name="contact" value=locals.user.mobile)
                    textarea(name="description", cols="30", rows="10" placeholder="Enter description about new product" required)
                    button add
                .post-box.flex-column-center
                    each draw in locals.myProductes
                        .post
                            h1= draw.name
                            h2= "price: " + draw.price
                            h3= "owner: " + draw.owner
                            h4= "Tel:" + draw.contact
                            h5= "left only:" + draw.amount
                            p= draw.description
                            img(src="../../uploads/" + draw.picture, alt="")
        script(src="../../js/logOut.js")